/** Основные цвета **/
$black: #000000;
$white: #ffffff;

$gray: #c4c4c4;
$gray-light: #f2f2f2;

$yellow: #fff200;

$radius: 4px;
$radius-medium: 8px;
$radius-large: 16px;

$f-weight-thin: 300;
$f-weight-regular: 400;
$f-weight-semi-bold: 600;
$f-weight-bold: 700;

$layout-max-width: 1448px;
$layout-min-width: 768px;

$font-family-base: 'Roboto', sans-serif;
